body {
    background-color: cadetblue;
    max-width: 500px;
    margin: auto;
}
.TitleSection {
    background-color: seagreen;
}
h1 {
    color: orangered;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: orangered;
    font-family: monospace;
}
p {
    border: 1px dotted palegreen;
    padding: 30px;
}