body {
    font-family: 'Courier New', Courier, monospace;
    color: #d2fafb;
    background-color: #393e46;
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

.TitleSection {
    background-color: #393e46;
}

h1 {
    color: #eeeeee;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: #eeeeee;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    border: 1px dotted #eeeeee;
    padding: 30px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222831;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #d65a31;
    text-align: center;
    color: #d2fafb;
    padding: 30px;
}

a:visited {
    color: #eeeeee;
}

a:link {
    color: #eeeeee;
}

#page_content {
    padding: 30px;
}

#page_description {
    padding-bottom: 10px;
}

#project {
    font-family: 'Courier New', Courier, monospace;
    border: 1px dotted #d65a31;
    padding: 30px;
}

#nav_bar {
    background-color: #d65a31;
    overflow: hidden;
}