body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2c003e;
    max-width: 900px;
    margin: auto;
}

.TitleSection {
    background-color: #512b58;
}

h1 {
    color: #fe346e;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: #fe346ev;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    border: 1px dotted #fe346e;
    padding: 30px;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#project {
    font-family: 'Courier New', Courier, monospace;
    border: 1px dotted #fe346e;
    padding: 30px;
}

#nav_bar {
    background-color: #d2fafb;
    overflow: hidden;
}